.mermaid-diagram-container {
    position: relative;
}

.mermaid-content {
    width: 100%;
    height: 100%;
}

[id^=mermaid-]  {
  .node path, .nodeLabel {
    transition: color 0.3s ease-in-out, fill 0.3s ease-in-out;
  }
}

html[data-theme=dark] [id^=mermaid-] {
  .node path, rect, polygon {
    fill: #333 !important;
  }
  .label p {
    color: #FFFFFF;
    background-color: #333 !important;
  }
  .relation, .flowchart-link {
    stroke: #d8d7d7 !important;
  }
  .nodeLabel {
    color: #fff !important;
  }
}
